.navbar {
    background-color: #333;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    height: 70px;
  }

  .navbar a {
    color: #f2f2f2;
    text-decoration: none;
    font-size: 18px;
    margin: 0 10px;
    transition: 0.3s;
  }

  .navbar a:hover {
    color: #45a049;
  }

  .logo {
    font-size: 24px;
    font-weight: bold;
    color: #fff;
    margin-left: 100px;
  }

  .menu-icon {
    display: none;
    font-size: 24px;
    cursor: pointer;
  }

  @media screen and (max-width: 768px) {
    .navbar a {
      display: none;
    }

    .menu-icon {
      display: block;
    }

    .menu-items {
      flex-direction: column;
      text-align: center;
      position: absolute;
      width: 100%;
      background-color: #333;
      top: 56px;
      left: 0;
      transition: max-height 0.3s ease-out;
      max-height: 0;
      overflow: hidden;
    }

    .menu-items.show {
      max-height: 200px;
    }

    .menu-items a {
      display: block;
      padding: 10px 20px;
      margin: 0;
    }
  }