/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
.color {
    color: #009879;
}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.styled-heading {
    font-family: 'Arial', sans-serif;
    font-weight: 600;
    font-size: 2em;
    color: #009879; 
    text-align: center; 
  }
  
  /* Table */
  .styled-table {
    width: 100%;
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
  }
  
  .styled-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
  }
  
  .styled-table th,
  .styled-table td {
    padding: 12px 15px;
  }
  
  .styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
  }
  
  .styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
  }
  
  .styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
  }
