.styled-heading {
  font-family: 'Arial', sans-serif;
  font-weight: 600;
  font-size: 2em;
  color: #009879; 
  text-align: center; 
}

/* Table */
.styled-table {
  width: 100%;
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  font-family: sans-serif;
}

.styled-table thead tr {
  background-color: #009879;
  color: #ffffff;
  text-align: left;
}

.styled-table th,
.styled-table td {
  padding: 12px 15px;
}

.styled-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}

  /* container */
  .container {
    margin-top: 50px;
    max-width: 1000px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
  }

  header {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    border-radius: 15px 15px 0px 0px;
  }

  button {
    margin: auto;
    padding: 10px 20px;
    background-color: #009879;
    border: none;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    border-radius: 8px;
    margin-top: 15px;
    height: 50px;
  }

  button:hover {
    background-color: #057b64;
  }
