<div class="container">
  <div class="container mt-5">
    <h4 class="text-left">Candidate Info</h4>
    <form [formGroup]="dataForm">
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label for="CandidateName">Candidate Name</label>
            <input
              type="text"
              class="form-control"
              id="CandidateName"
              name="CandidateName"
              formControlName="CandidateName"
            />
            <mat-error
              *ngIf="
                dataForm.get('CandidateName')?.hasError('required') &&
                dataForm.get('CandidateName')?.touched
              "
            >
              Candidate Name is Required
            </mat-error>
          </div>
          <div class="form-group">
            <label for="Mobile">Mobile</label>
            <input
              type="text"
              class="form-control"
              id="Mobile"
              name="Mobile"
              formControlName="Mobile"
            />
            <mat-error
              *ngIf="
                dataForm.get('Mobile')?.hasError('required') &&
                dataForm.get('Mobile')?.touched
              "
            >
              Mobile is Required
            </mat-error>
          </div>
          <div class="form-group">
            <label for="SkillSet">Skill Sets</label>
            <input
              type="text"
              class="form-control"
              id="SkillSet"
              name="SkillSet"
              formControlName="SkillSets"
            />
            <mat-error
              *ngIf="
                dataForm.get('SkillSets')?.hasError('required') &&
                dataForm.get('SkillSets')?.touched
              "
            >
              Skill Sets are Required
            </mat-error>
          </div>
          <div class="form-group">
            <label for="CTC">CTC</label>
            <input
              type="number"
              class="form-control"
              id="CTC"
              name="CTC"
              formControlName="CTC"
            />
            <mat-error
              *ngIf="
                dataForm.get('CTC')?.hasError('required') &&
                dataForm.get('CTC')?.touched
              "
            >
              CTC is Required
            </mat-error>
          </div>

          <div class="form-group">
            <label for="ECTC">ECTC</label>
            <input
              type="number"
              class="form-control"
              id="ECTC"
              name="ECTC"
              formControlName="ECTC"
            />
            <mat-error
              *ngIf="
                dataForm.get('ECTC')?.hasError('required') &&
                dataForm.get('ECTC')?.touched
              "
            >
              ECTC is Required
            </mat-error>
          </div>
          <div class="form-group">
            <label for="EmployeeID">Employee ID</label>
            <input
              type="number"
              class="form-control"
              id="EmployeeID"
              name="EmployeeID"
              formControlName="EmployeeID"
            />
            <mat-error
              *ngIf="
                dataForm.get('EmployeeID')?.hasError('required') &&
                dataForm.get('EmployeeID')?.touched
              "
            >
              EmployeeID is Required
            </mat-error>
          </div>
        </div>

        <!-- Right Column -->
        <div class="col-md-6">
          <div class="form-group">
            <label for="Email">E Mail</label>
            <input
              type="email"
              class="form-control"
              id="email"
              name="email"
              formControlName="email"
            />
            <mat-error
              *ngIf="
                dataForm.get('email')?.hasError('required') &&
                dataForm.get('email')?.touched
              "
            >
              E Mail is Required
            </mat-error>
            <mat-error
              *ngIf="
                dataForm.get('email')?.hasError('email') &&
                dataForm.get('email')?.touched
              "
            >
              Invalid E-Mail Format
            </mat-error>
          </div>
          <div class="form-group">
            <label for="CurrentCompany">Current Company</label>
            <input
              type="text"
              class="form-control"
              id="CurrentCompany"
              name="CurrentCompany"
              formControlName="CurrentCompany"
            />
            <mat-error
              *ngIf="
                dataForm.get('CurrentCompany')?.hasError('required') &&
                dataForm.get('CurrentCompany')?.touched
              "
            >
              CurrentCompany is Required
            </mat-error>
          </div>

          <div class="form-group">
            <label for="YearsOfExperience">Years Of Experience</label>
            <input
              type="number"
              class="form-control"
              id="YearsOfExperience"
              name="YearsOfExperience"
              formControlName="YearsOfExperience"
            />
            <mat-error
              *ngIf="
                dataForm.get('YearsOfExperience')?.hasError('required') &&
                dataForm.get('YearsOfExperience')?.touched
              "
            >
              Years Of Experience is Required
            </mat-error>
          </div>
          <div class="form-group">
            <label for="Location">Location</label>
            <input
              type="text"
              class="form-control"
              id="Location"
              name="Location"
              formControlName="Location"
            />
            <mat-error
              *ngIf="
                dataForm.get('Location')?.hasError('required') &&
                dataForm.get('Location')?.touched
              "
            >
              Location is Required
            </mat-error>
          </div>
          <div class="form-group">
            <label for="MaxNoticePeriod"> Max. Notice Period </label>
            <input
              type="number"
              class="form-control"
              id="MaxNoticePeriod"
              name="MaxNoticePeriod"
              formControlName="MaxNoticePeriod"
            />
            <mat-error
              *ngIf="
                dataForm.get('MaxNoticePeriod')?.hasError('required') &&
                dataForm.get('MaxNoticePeriod')?.touched
              "
            >
              Max. NoticePeriod is Required
            </mat-error>
          </div>
          <div class="form-group">
            <label for="Status">Status</label>
            <input
              type="text"
              class="form-control"
              id="Status"
              name="Status"
              formControlName="Status"
            />
            <mat-error
              *ngIf="
                dataForm.get('Status')?.hasError('required') &&
                dataForm.get('Status')?.touched
              "
            >
              Status is Required
            </mat-error>
          </div>
        </div>
      </div>

      <div class="text-left">
        <button
          type="button"
          class="btn btn-primary btn-sm"
          (click)="submitForm()"
        >
          Save
        </button>
        <button
          type="button"
          class="btn btn-primary btn-sm"
          (click)="clearForm()"
        >
          Cancel
        </button>
      </div>
    </form>
  </div>
  <table class="styled-table">
    <thead>
      <tr>
        <th>SI.No</th>
        <th>Demand Name</th>
        <th>Location</th>
        <th>Manager</th>
        <th>Max Budget</th>
        <th>Status</th>
        <th>Account Name</th>
        <th>Skill Set</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let dataForm of formdataArray; let i = index">
        <td>{{ i + 1 }}</td>
        <td>{{ dataForm.DemandName }}</td>
        <td>{{ dataForm.Location }}</td>
        <td>{{ dataForm.Manager }}</td>
        <td>{{ dataForm.MaxBudget }}</td>
        <td>{{ dataForm.Status }}</td>
        <td>{{ dataForm.AccountName }}</td>
        <td>{{ dataForm.SkillSets }}</td>
        <td>
          <button
            type="button"
            class="btn btn-primary btn-sm"
            (click)="editRecord(dataForm)"
          >
            Edit
          </button>
          <button
            type="button"
            class="btn btn-danger btn-sm"
            (click)="deleteRecord(dataForm.serialNo)"
          >
            Delete
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
