.form-group label {
    display: inline-block;
    width: 30%; /* Adjust the width as needed */
    margin-right: 10px; /* Add spacing between label and input */
    font-size: 15px;
  }
  
  .form-group input {
    display: inline-block;
    width: 30%; /* Adjust the width as needed */
    border: 1px solid green;
    margin-bottom: 20px;
    border-radius: 0%;
    padding: 4px;
  }
  
  .column-container {
    margin-left: -10px; /* Adjust the negative margin as needed */
    margin-right: -10px; /* Adjust the negative margin as needed */
  }
  
  .column-container .col-md-6 {
    padding-left: 10px; /* Adjust the padding as needed */
    padding-right: 10px; /* Adjust the padding as needed */
    width:40%;
  }
  
  .container{
    margin-top: 100px;
    margin-left: 100px;
  }
  
  .text-left {
    color: #009879; /* Set the text color to yellow */
    margin-bottom: 20px; /* Add space below the text */
    font-weight: bolder;
    font-size: 20px;
  }
  
  .btn{
    margin-top: 0%;
    margin:10px;
  }

  .togglebar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
  }
  

  .togglebtn{
    font-weight: 400;
    font-size: 14px;
    cursor: pointer;

    margin-right: 200px;
  }

  .search{
    background-color: #009879;
    color: #fff;
  }

  .rightalign{
    font-weight: 400;
    font-size: 14px;
    cursor: pointer;
    float: right;
    margin-right: 100px;
    margin-bottom: 0;
  }

  .table-container{
    clear: right;
    margin-top: 0;
  }