<div class="container">
    <div class="container">
      <div class="togglebar">
        <h4 class="text-left">Search</h4>
        <button class="text-right btn togglebtn" (click)="toggleSearch()">{{ isCandidateSearch ? 'Demand Search' : 'Candidate Search' }}</button>
      </div>
      <form *ngIf="isCandidateSearch" [formGroup]="candidateForm">
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label for="Account">Account</label>
              <input type="text" class="form-control" id="Account" name="Account" formControlName="Account" />
            </div>
            <div class="form-group">
                <label for="CandidateName">Candidate Name</label>
                <input type="text" class="form-control" id="CandidateName" name="CandidateName" formControlName="CandidateName" />
            </div>
            <div class="form-group">
                <label for="Status">Status</label>
                <input type="text" class="form-control" id="Status" name="Status" formControlName="Status" />
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
                <label for="Manager">Manager</label>
                <input type="text" class="form-control" id="Manager" name="Manager" formControlName="Manager" />
              </div>
              <div class="form-group">
                  <label for="Location">Location</label>
                  <input type="text" class="form-control" id="Location" name="Location" formControlName="Location" />
              </div>
              <div class="form-group">
                  <label for="ReferralId">Employee Id</label>
                  <input type="number" class="form-control" id="ReferralId" name="ReferralId" formControlName="ReferralId" />
              </div>
          </div>
        </div>
        <div class="text-left">
          <button type="button" class="btn btn-primary btn-sm" (click)="submitCandidateForm()" > Search </button>
          <button type="button" class="btn btn-primary btn-sm" (click)="clearForm()" > Clear </button>
        </div>
      </form>
      <form *ngIf="!isCandidateSearch" [formGroup]="demandForm">
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label for="Account">Account</label>
              <input type="text" class="form-control" id="Account" name="Account" formControlName="Account" />
            </div>
            <div class="form-group">
                <label for="CandidateName">Demand</label>
                <input type="text" class="form-control" id="Demand" name="Demand" formControlName="Demand" />
            </div>
            <div class="form-group">
                <label for="Status">Status</label>
                <input type="text" class="form-control" id="Status" name="Status" formControlName="Status" />
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="Manager">Manager</label>
              <input type="text" class="form-control" id="Manager" name="Manager" formControlName="Manager" />
            </div>
            <div class="form-group">
                <label for="Location">Location</label>
                <input type="text" class="form-control" id="Location" name="Location" formControlName="Location" />
            </div>
            <div class="form-group">
                <label for="EmployeeType">Employee Type</label>
                <input type="text" class="form-control" id="EmployeeType" name="EmployeeType" formControlName="EmployeeType" />
            </div>
          </div>
        </div>
        <button type="button" class="btn btn-primary btn-sm" (click)="submitDemandForm()">Search</button>
        <button type="button" class="btn btn-primary btn-sm" (click)="clearForm()"> Clear </button>
      </form>
    </div>
    <div class="table-container" >
      <table class="styled-table" *ngIf="isCandidateSearch">
        <thead>
          <tr>
            <th>SI.No</th>
            <th>Candidate Name</th>
            <th>Account</th>
            <th>Manager</th>
            <th>Status</th>
            <th>ECTC</th>
            <th>Skills</th>
            <th>Email</th>
            <th>Mobile</th>
            <th>Experience (Yrs)</th>
            <th>Current Company</th>
            <th>CTC</th>
            <th>Location</th>
            <th>Notice Period</th>
            <th>Employee Id</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let dataForm of formdataArray; let i = index">
            <td>{{ i + 1 }}</td>
            <td>{{ dataForm.candidateName }}</td>
            <td>{{ dataForm.account }}</td>
            <td>{{ dataForm.manager }}</td>
            <td>{{ dataForm.status }}</td>
            <td>{{ dataForm.ectc }}</td>
            <td>{{ dataForm.skillSet }}</td>
            <td>{{ dataForm.email }}</td>
            <td>{{ dataForm.mobile }}</td>
            <td>{{ dataForm.yearOfExperience }}</td>
            <td>{{ dataForm.currentCompany }}</td>
            <td>{{ dataForm.ctc }}</td>
            <td>{{ dataForm.location }}</td>
            <td>{{ dataForm.noticePeriod }}</td>
            <td>{{ dataForm.referralId }}</td>
          </tr>
        </tbody>
      </table>
      <table class="styled-table" *ngIf="!isCandidateSearch">
        <thead>
          <tr>
            <th>SI.No</th>
            <th>Demand Name</th>
            <th>Email</th>
            <th>Account</th>
            <th>Manager</th>
            <th>Open Positions</th>
            <th>Experience</th>
            <th>Max Budget</th>
            <th>Notice Period</th>
            <th>Employee Type</th>
            <th>Status</th>
            <th>Location</th>
            <!-- <th>Skill Set</th> -->
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let dataForm of formdataArray; let i = index;">
            <td>{{ i + 1 }}</td>
            <td>{{ dataForm.demandName }}</td>
            <td>{{ dataForm.email }}</td>
            <td>{{ dataForm.account_Name }}</td>
            <td>{{ dataForm.manager }}</td>
            <td>{{ dataForm.openPosition }}</td>
            <td>{{ dataForm.experience }}</td>
            <td>{{ dataForm.maxBudget }}</td>
            <td>{{ dataForm.noticePeriod }}</td>
            <td>{{ dataForm.employeeType }}</td>
            <td>{{ dataForm.status }}</td>
            <td>{{ dataForm.location }}</td>
            <!-- <td *ngFor="let skill of dataForm.skills"></td> -->
          </tr>
        </tbody>
      </table>
    </div>
</div>
  